a{
    text-decoration: none;
    color: black;
}

body{
    width:100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.color2ec{
    color:#2EC4B6;
}

.font30{
    font-size: 30px;
}

/* Header Start */


/* Header Menu Start */
.header{
    width: 100%;
    height: 70vh;
}

.header.absolute{
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 505;
}

.header__sticky_menu{

    padding-top: 34px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    
}


/* Header Menu Left Side */

.sticky_menu__left_side{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 34px;
    align-items: center;
}

.left_side__logo{
    margin-right: 6px;
    cursor: pointer;
}


.left_side__contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left_side__phone_icon{
    margin-right: 6px;
    color: #2a2a2a!important;
    cursor: pointer;
}

.left_side__phone_number{
    margin-right: 6px;
}

.left_side__telegram_icon{
    color: #2a2a2a!important;
    cursor: pointer;
}


/* Header Menu Right Side */
.sticky_menu__right_side{
    display: flex;
    flex-direction: row;
    padding: 34px;
    align-items: center;
}

.sticky_menu__change_language{
    padding: 5px;
    padding-right: 10px;
    font:16px;
    color: #2a2a2a!important;
    cursor: pointer;
}

.sticky_menu__make_request{
    padding: 10px 18px 10px;
    color: #FFFF!important;
    cursor: pointer;
    background-color: #2a2a2a;
    border-color: #2a2a2a;
    border-radius: 5px;
}

.sticky_menu__dropdown{
    margin-left: 35px;
    cursor: pointer;
}

/* DropDown Menu Start */
.sticky_menu__dropdown{
    color: #2a2a2a!important;
}
.sticky_menu__nav{
    visibility: hidden;
    height: 100vh;
    width: 35%;
    position: fixed;
    right: 0;
    background-color: #FFF;
    transition: 0.5s;
}
.sticky_menu__nav a{
    padding: 20px 0px 18px 100px;
    font-size: 16px;
    color: #2a2a2a;
    font-family: 'ProximaNova Bold',sans-serif;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

.header_make_request{
    text-align: center;
}

.sticky_menu__nav a:hover{
    background-color: rgba(20, 143, 228, 0.8);
    color: #FFF;
}
.sticky_menu__dropdown:hover .sticky_menu__nav{
    visibility: visible;
}
.sticky_menu__dropdown:hover .sticky_menu_header{
    visibility: visible;
}
/* DropDown Menu End */

/* Header Menu End */


/* Header Slider Start */

.header__slider{
    display: flex;
    position: relative;
    width: 100%;
    height: 80vh;
}

.img_desc{
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 60px;
}


/* Header Slider End */


/* Header End */



/* Main Content Start */

.main_content{

}

/* Popup Start */
.overlay 
{
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6); /* затемнение фона */
    display: none;
}
  .overlay.active {
    display: block;
}
  .overlay .flex-popap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .overlay .flex-popap .popap {
    position: relative;
    background-color: #fff;  /* цвет фона всплывающего блока */
    padding: 35px 25px;
    margin: 0 10px;
    width: 750px;
    height: 470px;
    overflow: auto;
}
  .popap span {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.popap-title {
    font-family: 'ProximaNova Bold',sans-serif;
    font-size: 25px;
    padding-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.popap-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popap_left_side {
    align-items: center;
}
.popap_left_side input{
    width: 250px;
}
.popap_left_side label{
    padding-top: 10px;
}
.popap_right_side {
    align-items: center;
}
.submit_request_button{
    width: 160px;
    height: 50px;
    border: 0;
    background-color: #2EC4B6;
    padding: 10px;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 250px;
  }

/* Popup End */

.numbers_courses{
    font-size: 80px;
    font-weight: 900;
}

.best_courses{
    margin-top: 170px;
    position: relative;
}

.best_courses__header{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-transform: uppercase;
}

.courses_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}

.best_courses_desc{
    display: flex;
}



.best_courses__left_side{

}

.best_courses__left_side p , .best_courses__right_side p{
    padding: 25px;
}

.best_courses__right_side{

}



.specialty_courses{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp_courses__header{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-transform: uppercase;
}

.courses_blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.courses__left_side{
    display: flex;

}

.courses__right_side{
    display: flex;
}

.course_bg_img{
    display: flex;
    position: relative;
    max-width: 421px;
    max-height: 285px;
    margin: 20px;
    box-shadow: rgb(42 42 42 / 10%) 0 5px 15px 5px;
}   

.courses_blocks__desc{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    align-items: center;
}

.course__consultation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 43%;
    margin: 60px auto 0 auto;
    height: 635px;
    background-color: #FFFF;
    box-shadow: rgb(42 42 42 / 10%) 0 5px 15px 5px;
    padding: 40px;

}

.consultation__header{
    color: #2a2a2a;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.consultation__desc{
    margin: 16px;
}

/* Main Content End */



/* Footer Start */

.footer{
    
}

/* Footer End */


