@media(max-width:1480px){
    .main_content{
        .best_courses{
            margin-top: 130px;
            position: relative;
            display: flex;
            justify-content: center;
            .best_courses__header_button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .best_courses__button{
                    color: #fff;
                    font-size: 16px;
                    background-color: #2EC4B6;
                    font-family: sans-serif;
                    padding: 20px;
                    border-radius: 50px;
                    width: 300px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    .best_courses__button:hover{
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
            
        }
        .specialty_courses{
            .courses_blocks{
                display: flex;
                flex-direction: column;
                align-items: center;
                .row_column{
                    display: flex;
                    flex-direction: row;
                }
                .courses__left_side , .courses__right_side{
                    display: flex;
                    position: relative;
                    flex-direction: row;
                }
                .course__consultation{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@media(max-width:425px){
    .main_content{
        .best_courses__header{
            display: flex;
            justify-content: center;
        }
        .best_courses{
            display: flex;
            justify-content: center;
            .courses_wrapper{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
        }
        .specialty_courses{
            .courses_blocks{
                display: flex;
                flex-direction: column;
                align-items: center;
                .row_column{
                    display: flex;
                    flex-direction: column;
                }
            } 
        }


    }
}