{% extends 'main/layout.html' %}
{% block title %}Home Page{% endblock %}

{% block body %}
<div class="header">
    <div class="header__sticky_menu">
        <div class="sticky_menu__left_side">
            <p class="left_side__logo"></p>
            <div class="left_side__contacts">
                <p class="left_side__phone_icon"></p>
            </div>
        </div>
        <div class="sticky_menu__right_side">
            <p class="sticky_menu__change_language"></p>
            <button class="sticky_menu__make_request"></button>
            <p class="sticky_menu__dropdown">
                <a href="#" class="sticky_menu__nav"></a>
            </p>
        </div>
    </div>


</div>

<div class="main_content">

</div>

<div class="footer">

</div>
{% endblock %}
