{% extends 'main/layout.html' %}
{% block title %}Home Page{% endblock %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'main/style/main.min.css' %}">
<div class="header" id="header">
    <div class="header absolute">
        <div class="header__sticky_menu">
            <div class="sticky_menu__left_side">
                <p class="left_side__logo">Logo</p>
                <div class="left_side__contacts">
                    <a href='#' class="left_side__phone_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" fill="green" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg>
                      
                    </a>
                    
                    <p class="left_side__phone_number">+0 800 337 146</p>

                        
                    <a href='https://t.me/+SQ_ncIH-a9M3Mjgy' class="left_side__telegram_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" fill="#009EDFCC" class="bi bi-telegram" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                          </svg>
                    </a>
                </div>
            </div>
            <div class="sticky_menu__right_side">
                <p class="sticky_menu__change_language">UA</p>
                <button class="sticky_menu__make_request" onclick="show_popap('modal-1')">Залишити заявку</button>
                <div class="overlay" id="modal-1">
                    <div class="flex-popap">
                        <div class="popap">
                            <span class="close_popap">Закрыть</span>
                            <p class="popap-title">Записатися на курс</p>
                            <form action="." method="POST">
                                {% csrf_token %}
                                <div class="popap-form">
                                    <div class="popap_left_side">
                                        {{request_form.errors}}
                                        <div class="popap_name_surname">
                                            <div class="popap_name">
                                                {{request_form.first_name.label_tag}}
                                                {{request_form.first_name}}
                                            </div>
                                            <div class="popap_surname">
                                                {{request_form.last_name.label_tag}}
                                                {{request_form.last_name}}
                                            </div>
                                        </div>
                                        <div class="popap_phone">
                                            {{request_form.phone.label_tag}}
                                            {{request_form.phone}}
                                        </div>
                                        <div class="messengers">
                                            <p class="messengers__header">Мессенджер:</p>
                                            <div class="messegers__icons">
                                                <a href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" fill="green" class="bi bi-telephone" viewBox="0 0 16 16">
                                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                                    </svg>
                                                </a>
                                                <a href="https://t.me/+SQ_ncIH-a9M3Mjgy">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" fill="#009EDFCC" class="bi bi-telegram" viewBox="0 0 16 16">
                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="popap_email">
                                            {{request_form.email.label_tag}}
                                            {{request_form.email}}
                                        </div>
                                    </div>
                                    <div class="popap_right_side">

                                        <div class="popap_course">
                                            {{request_form.course.label_tag}}
                                            {{request_form.course}}
                                        </div>
                                        <div class="popap_time">
                                            {{request_form.time.label_tag}}
                                            {{request_form.time}}
                                        </div>
                                        <div class="popap_comment">
                                            {{request_form.comment.label_tag}}
                                            {{request_form.comment}}
                                        </div>
                                    </div>
                                </div>
                                <button class="submit_request_button" name="request_submit" type="submit">Оформити заявку</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="sticky_menu__dropdown">
                    <span id="open_nav_button" onclick="openNav()">Меню</span>
                </div>
                <div id="sticky_menu__nav" class="sticky_menu__nav">
                    <p class="nav_menu__change_language">UA</p>
                    <span href="javascript:void(0)" class="closebtn" onclick="closeNav()">Закрити &times;</span>
                    <button class="nav_menu__make_request" onclick="show_popap('modal-1')">Залишити заявку</button>
                    <a class="nav_item" href="#">IT спеціальності</a>
                    <a class="nav_item" href="#">Онлайн навчання</a>
                    <a class="nav_item" href="#">Курси і ціни</a>
                    <a class="nav_item" href="#">Розклад</a>
                    <a class="nav_item" href="#" >Акції та знижки</a>
                    <a class="nav_item" href="#">IT Заходи</a>
                    <a class="nav_item" href="#">Компаніям</a>
                    <a class="nav_item" href="#">Навчання у нас</a>
                    <a class="nav_item" href="#">Про нас</a>
                    <a class="nav_item" href="#">Контакти</a>
                    <div class="sticky_menu__nav_footer">
                        <p class="nav_footer__logo">Logo</p>
                        <div class="nav_footer__contacts">
                            <img class="menu__footer_bg" src="{% static "main/img/menu-footer-bg.jpg" %}" alt="">

                            <a href='#' class="nav_footer__phone_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" fill="green" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            
                            </a>
                            
                            <p class="nav_footer__phone_number">+0 800 337 146</p>

                                
                            <a href='https://t.me/+SQ_ncIH-a9M3Mjgy' class="nav_footer__telegram_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" fill="#009EDFCC" class="bi bi-telegram" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__slider">
        <img class='slider-item' src="{% static 'main/img/slider1.jpg' %}" alt="" srcset="">
            
        <p class="img_desc" >Університет <br> <span class="color2ec">освіти</span> та <span class="color2ec">комп'ютерних технологій</span></p>
    </div>




</div>

<div class="main_content">
    <div class="best_courses">
        <div class="best_courses__header_button">
            <a href='#first-block'class="best_courses__button">НАЙКРАЩІ КУРСИ УКРАЇНИ</a>
        </div>
        
        <p class="best_courses__header">Найкращі курси України</p>
        <div class="courses_wrapper">
            <div class="best_courses__left_side">
                <div class="best_courses_desc">
                    <span class="color2ec numbers_courses" id="first-block">01 </span>
                    <p class="font20">Зручний графік <span class="color329">занять</span></p>
                </div>
                <p class="best_desc">400+ відео відгуків від працевлаштованих та задоволених студентів. Найбільша кількість в Україні як підтвердження якості.</p>
                <div class="best_courses_desc">
                    <span class="color2ec numbers_courses" >02 </span>
                    <p class="font20">Гарантія <span class="color329">працевлаштування</span></p>
                </div>
                <p class="best_desc">Єдина в Україні компанія з відео відгуками від роботодавців та реальними партнерами.</p>
                <div class="best_courses_desc">
                    <span class="color2ec numbers_courses">03 </span>
                    <p class="font20">Освіта для дітей<span class="color329"> 9-15 років</span></p>
                </div>
                <p class="best_desc">Єдині в Україні, хто має спільну інтернатуру з ІТ-компаніями з top-списку DOU. Конкурентам про таке тільки мріяти.</p>
            </div>
            <div class="best_courses__right_side">
                <div class="best_courses_desc">
                    <span class="color2ec numbers_courses">04 </span>
                    <p class="font20">Стажування в <span class="color329">IT</span></p>
                </div>
                <p class="best_desc">Гарантуємо 100% працевлаштування після будь-якого комплексного курсу з інкубатором. Фіксуємо гарантію в договорі.</p>
                <div class="best_courses_desc">
                    <span class="color2ec numbers_courses">05 </span>
                    <p class="font20">IT <span class="color329">інкубатор</span></p>
                </div>
                <p class="best_desc">Пройдіть курс наново, якщо щось пропустили або не зрозуміли. Це безкоштовно для всіх випускників наших курсів.</p>
                <div class="best_courses_desc">
                    <span class="color2ec numbers_courses">06 </span>
                    <p class="font20">Освіта для <span class="color329">дорослих</span></p>
                </div>  
                <p class="best_desc">Не треба кидати роботу заради курсів програмування. Поєднюйте їх з основною роботою як це зробили сотні наших студентів.</p>
            </div>
        </div>
    </div>
    <p class="sp_courses__header">Навчання за спеціальністю</p>
    <div class="specialty_courses">
        
        <div class="courses_blocks">

            <div class="row_column">
                <div class="courses__left_side">
                    <div class="course_block">
                        <img src="{% static 'main/img/courses_frontend_bg.jpg' %}" class='course_bg_img' alt="">
                        <div class="course_block__white_bg">
                            <div class="courses_blocks__desc_left_top">
                                <p class="course__header">{{course_left_top.title}}</p>
                                <p class="course_start">Старт:<span style="font-weight: 600;">{{course_left_top.start_day}} {{course_left_top.start_month}}</span></p>
                                <button class="courses_blocks_btn">Детальніше</button>
                            </div>
                        </div>
                    </div>
            
                    <div class="course_block">
                        <img src="{% static 'main/img/courses_csharp_bg.jpg' %}" class='course_bg_img' alt="">
                        <div class="course_block__white_bg">
                            <div class="courses_blocks__desc_left_bottom">
                                <p class="course__header">{{course_left_bottom.title}}</p>
                                <p class="course_start">Старт:<span style="font-weight: 600;">{{course_left_bottom.start_day}} {{course_left_bottom.start_month}}</span></p>
                                <button class="courses_blocks_btn">Детальніше</button>
                            </div>
                        </div>
                    </div>
                </div>  
            
            
                <div class="courses__right_side">
                    <div class="course_block">
                        
                        <img src="{% static 'main/img/courses_java_bg.jpg' %}" class='course_bg_img' alt="">
                        <div class="course_block__white_bg">
                            <div class="courses_blocks__desc_right_top">
                                <p class="course__header">{{course_right_top.title}}</p>
                                <p class="course_start">Старт:<span style="font-weight: 600;">{{course_right_top.start_day}} {{course_right_top.month}}</span></p>
                                <button class="courses_blocks_btn">Детальніше</button>
                            </div>
                        </div>    
                    </div>
            
                    <div class="course_block">
                        <img src="{% static 'main/img/courses_python_bg.jpg' %}" class='course_bg_img' alt="">
                        <div class="course_block__white_bg">
                            <div class="courses_blocks__desc_right_bottom">
                                <p class="course__header">{{course_right_bottom.title}}</p>
                                <p class="course_start">Старт:<span style="font-weight: 600;">{{course_right_bottom.start_day}} {{course_right_bottom.start_month}}</span></p>
                                <button class="courses_blocks_btn">Детальніше</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <form action='.' method='POST'>{% csrf_token %}
                    <div class="course__consultation">
                        <p class="consultation__header">БЕЗКОШТОВНА КОНСУЛЬТАЦІЯ</p>
                        <p class="consultation_header__desc">Залиште свій номер телефону і ми зв'яжемося з Вами найближчим часом</p>
                        <div class="cons__feedback">
                            <span class="cons__name">Ім'я:*</span>
                            {{cons_form.first_name}}
                            <span class="cons__surname">Прізвище:*</span>
                            {{cons_form.last_name}}
                            <span class="cons__phone">Телефон:*</span>
                            {{cons_form.phone}}
                            <span class="cons__email">Email:*</span>
                            {{cons_form.email}}
                            <p class="cons__mesengers">Мессенджер:</p>
                            <div class="cons__mesenger_icons">
                                <a href='#' class="cons__phone_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" fill="green" class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                                </a>
                                <a href='https://t.me/+SQ_ncIH-a9M3Mjgy' class="cons__telegram_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" fill="#009EDFCC" class="bi bi-telegram" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                                    </svg>
                                </a>
                            </div>
    
    
                            <button class="cons__btn" name='cons_submit' type='submit'>Замовити</button>
                        </div>
                    </form>
            </div>
        </div>


        
    </div>

    
    <div class="all_courses">
        <a href='#all-courses' class="all_courses__button">УСІ КУРСИ ТА ЦІНИ</a>
        <p class="all_courses__header" id="all-courses">УСІ <span class="color2ec">КУРСИ</span> ТА <span class="color2ec">ЦІНИ</span> </p>
        <div class="all_courses_stats">
            <div class="all_courses_stats_persentage">
                <p>100%</p>
                <span>Проходження</span>
            </div>
            <div class="all_courses_stats_working">
                <p>126</p>
                <span>Люди, які працюють</span>
            </div>
            <div class="all_courses_stats_entry">
                <p>55К</p>
                <span>Студенти зараховані</span>
            </div>
            <div class="years_exp">
                <p>100</p>
                <span>Роки досвіду</span>
            </div>
        </div>
    </div>

    <div class="edu-type">
        <div class="edu-type__item">
            <div class="edu-type__header">ONLINE</div>
            <p class="edu-type__small_desc">Навчайтеся вдома, в офісі, на курорті з будь-якої точки світу. Онлайн курси від OWU влаштовані таким чином, щоб відтворити живе спілкування між викладачем і студентами.
            </p>
            <div class="item_type_container">
                <a href="#">
                    <img src="{% static 'main/img/JS.svg' %}" alt="JS">
                </a>
                <div class="course-item">
                    <span class="color2ec h3_heading">JAVASCRIPT</span>
                    <p>React, Angular, Node.js</p>
                </div>
            </div>
            <div class="item_type_container">
                <a href="#">
                    <img src="{% static 'main/img/java.svg' %}" alt="Java">
                </a>
                <div class="course-item">
                    <span class="color2ec h3_heading">JAVA</span>
                    <p>Spring, Hibernate, JPA</p>
                </div>
            </div>

            <div class="item_type_container">
                <a href="#">
                    <img src="{% static 'main/img/python.svg' %}" alt="QA/QC">
                </a>
                <div class="course-item">
                    <span class="color2ec h3_heading">PYTHON</span>
                    <p>Django, Flask</p>
                </div>
            </div>

            <div class="item_type_container">
                <a href="#">
                    <img src="{% static 'main/img/QA.svg' %}" alt="QA/QC">
                </a>
                <div class="course-item">
                    <span class="color2ec h3_heading">QA</span>
                    <p>Manual, Automation</p>
                </div>
            </div>

        </div>

        <div class="edu-type__item">
            <div class="edu-type__header">СТАЦІОНАР</div>
            <p class="edu-type__small_desc">Навчання в офісах нашої компанії з особистим спілкуванням з менторами та іншими студентами. Обговорюйте питання, діліться кодом, спілкуйтесь з однодумцями в живу.
            </p>
            <div class="item_type_container">
                <a href="#">
                    <img src="{% static 'main/img/JS.svg' %}" alt="JS">
                </a>
                <div class="course-item">
                    <span class="color2ec h3_heading">JAVASCRIPT</span>
                    <p>React, Angular, Node.js</p>
                </div>
            </div>
            <div class="item_type_container">
                <a href="#">
                    <img src="{% static 'main/img/java.svg' %}" alt="Java">
                </a>
                <div class="course-item">
                    <span class="color2ec h3_heading">JAVA</span>
                    <p class="course-item-desc">Spring, Hibernate, JPA</p>
                </div>
            </div>

            <div class="item_type_container">
                <a href="#">
                    <img src="{% static 'main/img/python.svg' %}" alt="QA/QC">
                </a>
                <div class="course-item">
                    <span class="color2ec h3_heading">PYTHON</span>
                    <p>Django, Flask</p>
                </div>
            </div>

            <div class="item_type_container">
                <a href="#">
                    <img src="{% static 'main/img/QA.svg' %}" alt="QA/QC">
                </a>
                <div class="course-item">
                    <span class="color2ec h3_heading">QA</span>
                    <p>Manual, Automation</p>
                </div>
            </div>
        </div>

    </div>

    <section class="side-padding">
        <div class="learning_with_univ_is">
            <header class="learning_with_univ_is__header">НАВЧАННЯ В SOFTLINE ЦЕ</header>
            <div class="learning_with_univ__grid">
                <div class="learning_with_univ_is__block">
                    <div class="block-img-bg">
                        <div class="block-bg-item">
                            <img class="block-icon-48" src="{% static 'main/img/1.svg' %}" alt="">
                        </div>
                        <img class="block__blue_bg" src="{% static 'main/img/blue_section_bg.jpg' %}" alt="">
                    </div>
                    <span class="learn__block_desk">Компактні групи до 15 осіб</span>
                </div>
                <div class="learning_with_univ_is__block">
                    <div class="block-img-bg">
                        <div class="block-bg-item">
                            <img class="block-icon-48" src="{% static 'main/img/2.svg' %}" alt="">
                        </div>
                        <img class="block__blue_bg" src="{% static 'main/img/blue_section_bg.jpg' %}" alt="">
                    </div>

                    <span class="learn__block_desk">Доступ до online відео курсів</span>
                </div>
                <div class="learning_with_univ_is__block">
                    <div class="block-img-bg">
                        <div class="block-bg-item">
                            <img class="block-icon-48" src="{% static 'main/img/3.svg' %}" alt="">
                        </div>
                        <img class="block__blue_bg" src="{% static 'main/img/blue_section_bg.jpg' %}" alt="">
                    </div>
                    <span class="learn__block_desk">Допомога в працевлаштуванні студента</span>
                </div>
                <div class="learning_with_univ_is__block">
                    <div class="block-img-bg">
                        <div class="block-bg-item">
                            <img class="block-icon-48" src="{% static 'main/img/4.svg' %}" alt="">
                        </div>
                        <img class="block__blue_bg" src="{% static 'main/img/blue_section_bg.jpg' %}" alt="">
                    </div>
                    <span class="learn__block_desk">Великий вибір спеціальностей та окремих курсів</span>
                </div>
                <div class="learning_with_univ_is__block">
                    <div class="block-img-bg">
                        <div class="block-bg-item">
                            <img class="block-icon-48" src="{% static 'main/img/5.svg' %}" alt="">
                        </div>
                        <img class="block__blue_bg" src="{% static 'main/img/blue_section_bg.jpg' %}" alt="">
                    </div>
                    <span class="learn__block_desk">Усі викладачі - сертифіковані тренери Microsoft</span>
                </div>
                <div class="learning_with_univ_is__block">
                    <div class="block-img-bg">
                        <div class="block-bg-item">
                            <img class="block-icon-48" src="{% static 'main/img/6.svg' %}" alt="">
                        </div>
                        <img class="block__blue_bg" src="{% static 'main/img/blue_section_bg.jpg' %}" alt="">
                    </div>
                    <span class="learn__block_desk">Сервіс online тестування</span>
                </div>
                <div class="learning_with_univ_is__block">
                    <div class="block-img-bg">
                        <div class="block-bg-item">
                            <img class="block-icon-38" src="{% static 'main/img/7.svg' %}" alt="">
                        </div>
                        <img class="block__blue_bg" src="{% static 'main/img/purple-rectangle.jpg' %}" alt="">
                    </div>
                    <span class="learn__block_desk">Денне навчання в Києві</span>
                </div>
                <div class="learning_with_univ_is__block">
                    <div class="block-img-bg">
                        <div class="block-bg-item">
                            <img class="block-icon-38" src="{% static 'main/img/8.svg' %}" alt="">
                        </div>
                        <img class="block__blue_bg" src="{% static 'main/img/orange-rectangle.jpg' %}" alt="">
                    </div>
                    <span class="learn__block_desk">Онлайн навчання в Zoom</span>
                </div>
                <div class="learning_with_univ_is__block">
                    <div class="block-img-bg">
                        <div class="block-bg-item">
                            <img class="block-icon-38"src="{% static 'main/img/9.svg' %}" alt="">
                        </div>
                        <img  class="block__blue_bg" src="{% static 'main/img/blue-rectangle.jpg' %}" alt="">
                    </div>
                    <span class="learn__block_desk">Корпоративні тренінги</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
